# famous file extensions
.*
!.git-crypt
!.gitpod*
!.gitignore
!.containerignore
!.dockerignore
!.gitattributes
!.github
!.forgejo
!.dagger
!.gitsecret
!.terraformignore
!.pre-commit-config.yaml
!.pre-commit-check-config.yaml
!.woodpecker.yml
!.licenserc.yaml
!.semver-version
!.pkgmeta
.gitsecret/keys/random_seed
!*.secret
!.updatePreRelease.ps1
!.updatePostRelease.ps1
!.changelogs
!.editorconfig
*~
*.swp
*.log
*.orig

# famous directories
target
bin
build
logs
work
out
/lib
dist
test-output
coverage
temp
tmp
/packages
